.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  .highlight {
    font-weight: bold;
    color: #ffeb3b;
  }
  
  .features {
    margin-top: 20px;
  }
  
  .subTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .list {
    list-style: none;
    padding: 0;
  }
  
  .list li {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
  }
  

  @media (max-width : 700px) {
    
     .container  {
       max-width: 400px;
     }

  }