.navBar {
  position: absolute;
  color: white;
  background-color: transparent;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: 10px;

}

.navLeftSideItems {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 50px;
}

.navLeftSideItems span {
  font-weight: bolder;
  color : black;
   transition: transform 200ms , color 200ms;
}

.navLeftSideItems span:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #006efe
}

.navBar button {
  border: none;
  background-color: #422A70;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 15px;
  transition: background-color 400ms;
}

.navBar button:hover {
  background-color: #C10537;
}

.navRightSideItems {
  display: flex;
  margin-right: 50px;
  align-items: center;
  gap: 20px;
}

.bottomContainer {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
}

.bottomContainer #voteNow {
  width: 300px;
  animation: scaleEffect 1s infinite ease-in-out;
  border-radius: 100%;
}

.eachPartyInfo {
  display: flex;
  gap: 20px;
}

.VoteButton {
  width: 30%;
  border: none;
  background-color: #ec407a;
  border-radius: 20px;
  color: white;
  font-weight: bolder;
  transition: background-color 400ms;
  padding: 10px 0px;
}

.VoteButton:hover {
  background-color: #40ecb3a7;
}

/* footer  */

footer {
  position: relative;
}

footer .footerItems img {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: transform 400ms;
  align-items: center;
  cursor: pointer;
}

footer .footerItems {
  position: absolute;
  padding: 10px;
  right: 0px;
  display: flex;
  width: auto;
  align-items: right;
  gap: 30px;
  transition: transform 400ms;
  margin-top: 100px;
}

footer .footerItems img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}



.parties {
  display: flex;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  transition: transform 4s ease;
}

.parties #partyImage {
  width: 100px;
  border: 2px solid #1877f2;
  height: 100px;
  border-radius: 50%;
  flex-shrink: 0;
  transition: box-shadow 400ms;
}

.parties:hover #partyImage {
  box-shadow: 3px 3px black;
  animation: bounce 4s ease-in-out infinite;
}

.ItemsinFooter {
  border: 1px solid red;
}



.party1 {
  display: flex;
  /* position: absolute; */
  flex-direction: column;
  background: linear-gradient(to right, #27AE60, #F2C94C, #F79C42, #FFFFFF);
  gap: 10px;
  color: black;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  height: auto;
  width: 600px;
  padding: 20px;
  transform: translateX(-90%);
  transition: transform 600ms;
}

.party2 {
  display: flex;
  right : 0px;
  top : 20%;
  flex-direction: column;
  background: linear-gradient(to right, #E74C3C, #FFFFFF, #2C3E50);

  gap: 10px;
  color: black;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  height: auto;
  width: 600px;
  padding: 20px;
  transform: translateX(90%);
  transition: transform 600ms;
}

.party3 {
  display: flex;
  top : 40%;
  flex-direction: column;
  background: linear-gradient(to right, #F2C94C, #F79C42, #2C3E50);
  gap: 10px;
  color: black;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  height: auto;
  width: 600px;
  padding: 20px;
  transform: translateX(-90%);
  transition: transform 600ms;
}

.party4 {
  display: flex;
  top : 60%;
  right : 0px;
  flex-direction: column;
  background: linear-gradient(to right, #27AE60, #2C3E50, #F2C94C);
  gap: 10px;
  color: black;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  height: auto;
  width: 600px;
  padding: 20px;
  transform: translateX(90%);
  transition: transform 600ms;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scaleEffect {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.7);
  }
}

.bannerBackground {
   top : 0px;
   z-index: -1;
   background-image: url("../images//bannerTop.png");
   height: 800px;
   width: 100vw;
   background-size: cover;
   margin-bottom: 50px;
   background-repeat: no-repeat;
}



hr {
  color  :  #1877f2
}