.navBar {
  color: white;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.navLeftSideItems {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 50px;
}

.navLeftSideItems span:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.531);
}

.navBar button {
  border: none;
  background-color: #1877f2;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 15px;
  transition: background-color 400ms;
}

.navBar button:hover {
  background-color: #0672ff87;
}

.navRightSideItems {
  display: flex;
  margin-right: 50px;
  align-items: center;
  gap: 20px;
}

.bottomContainer {
  color: white;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(255, 255, 255, 0.236);
  gap : 20px;
  justify-content: space-around;
}

.bottomContainer #voteNow {

  width: 300px;
  animation: scaleEffect 1s infinite ease-in-out;
  border-radius : 100%;
}

.eachPartyInfo {
  display: flex;
  gap: 20px;
}

.VoteButton { 
  width: 30%;
  border : none;
  background-color: #EC407A;
  border-radius: 20px;
  color : white;
  font-weight: bolder;
  transition: background-color 400ms;
  padding : 10px 0px;
}

.VoteButton:hover {
   background-color: #40ecb3a7;
}




/* footer  */


footer {
  position: relative;

}

footer .footerItems img {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: transform 400ms;
  align-items: center;
  cursor: pointer;
}

footer .footerItems {
  position: absolute;
  padding : 10px;
  right: 0px;
  display: flex;
  width: auto;
  align-items: right;
  gap: 30px;
  transition: transform 400ms;
  margin-top: 100px;
}


footer .footerItems img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}



@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.parties {
  display: flex;
  justify-content: center;
  gap : 20px;
  cursor: pointer;
  transition: transform 4s ease;
}

.parties #partyImage { 
  width: 100px;
  border :2px solid #1877f2;
  height: 100px;
  border-radius: 50%;
  flex-shrink: 0;
  transition: box-shadow 400ms;
}

.parties:hover  #partyImage{
  box-shadow: 3px 3px black;
  animation: bounce 4s ease-in-out infinite;
}




@keyframes scaleEffect {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.7);
  }
}