.votingContainer {
  position: relative;
  top: 100px;
  width: 100%;
  overflow-y: auto;
  background-color: white;
  height: 1500px;
}

.votingBoxItems {
  margin-top: 10px;
  gap : 20px;
  height: 100%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  height: auto;
}

.votingBoxItems #CandidatePost {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bolder;
}

.eachSectionCandidate {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(1, 1fr);
}

.eachSectionCandidate .eachInfoSection {
  padding: 10px;
  color: white;
  display: flex;
  gap: 30px;
  border-radius: 10px;
  background-color: rgb(34, 34, 34);
}

.hiddenRadio {
  display: none;
}

.customRadioBtn {
  width: 20px;
  height: 20px;
  border: 2px solid #6c757d;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  background-color: #fff;
  transition: all 0.3s ease;
}

.hiddenRadio:checked + .customRadioBtn {
  border-color: #00c2fd;
  background-color: #1294eb;
}

.hiddenRadio:checked + .customRadioBtn::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.eachInfoSection:hover {
    cursor: pointer;
}


.SubmitVote {
     width : 300px;
     padding : 5px;
     border :none;
     color : white;
     font-weight: bolder;
     background-color: #1877F2;
     border-radius: 20px;
     font-size: 1.5rem;
     transition: transform 200ms , background-color 200ms;

}

.SubmitVote:hover {
    transform: scale(1.02);
     background-color: #2b6abd;
}


.verificationPopUp  {
   
position: absolute;
width: 100vw;
height: 1650px;
z-index: 4;
background-color: black;
opacity: 0.4;

}

.verificationBox { 
  display: flex;
  color : white;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  gap : 20px;
  position : absolute;
  top : 50%;
  left :50%;
  z-index: 5;
  transform: translate(-50% , -50%);
  background-color: rgb(32, 32, 32);
  width: 500px;
  height: 400px;  
}

.verificationBox  input  {
   width: 90%;
   height: 40px;
   border : none;
   outline: none;
   border-radius: 10px;
   padding : 10px;
}  
 
.verificationBox button { 
  width: 100px;
  padding : 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #1877F2;
  border : none;
  outline : none; 
  color : white;
  font-size: 1.2rem;
  font-weight: bold;
  transition:  background-color 400ms;
}


.verificationBox button:hover {
   background-color: #1294eb;
}

.verificationBox #cancelButton { 
  position: relative;
  top : 0px;
  display: flex;
align-items: center;
font-size: 1.5rem;
justify-content: center;
  right: 0px;
  height: 60px;
  width: 100%;
}

.verificationBox #cancelButton span {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   top : 8px;
   cursor: pointer;
   background-color:red;
   font-weight: bolder;
   right : 10px;
   width: 30px;
   height: 30px;
}


.allPartiesVotes { 
  border : 1px solid black;
}



@media (max-width : 700px) { 

  .verificationBox {
    width: 350px;  
  }

}